/*styles*/
.list_contacts{
    width: 40%;
    float: left;

}
.contacts{
    background: #bfbfbf;
    border-bottom: 1px solid #fff;
    padding: 3%;

}
.contacts:hover{
    background: #000;
    border-bottom: 1px solid #fff;
    color: #fff;

}
.view_contact_details{
    width: 50%;
    float: left;
    padding: 2%; 

}
.clear{
    clear: both;
}