<main-header></main-header>
<h2 app-highlight>{{heading | pagestring}}</h2>
<div class="container">
    
    <div class="list_contacts">
        <div *ngFor="let contacts of allcontacts" class="contacts" (click)="onSelect(contacts)">
            {{contacts.name}}
        </div>
    </div>

    <div class="view_contact_details">
        <contact-details [contacts]="currentContact"></contact-details>
    </div>
    <div class="clear"></div>
    <nav>
      <a routerLink="demo" routerLinkActive="active">Demo</a>
      <a routerLink="demo2" routerLinkActive="active">Demo2</a>
    </nav>
    <router-outlet></router-outlet>
</div>

<main-footer></main-footer>